body {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.main-container {
  background-color: #fafafa;
}

/* 헤더 */
.nav-container {
  background-color: rgb(26, 27, 31);
}

.nav-head {
  display: flex;
  justify-content: space-between;
  background-color: rgb(26, 27, 31);
}

.menu {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 10px 10px 4px;
}

.menu-btn {
  margin: 0;
  background-color: rgb(26, 27, 31);
  border: none;
  cursor: pointer;
}

.menu-btn svg {
  color: rgb(204, 204, 204);
  width: 25px;
  display: flex;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.menu span {
  cursor: pointer;
}

#userInfo {
  color: white;
}

.nav-btn {
  margin-right: 10px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

.nav-btn button {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  background-color: rgb(26, 27, 31);
  color: rgb(204, 204, 204);
  font-size: 13px;
  cursor: pointer;
  margin-left: 5px;
  height: 22px;
}

.nav-head p {
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  background-color: #fff6;
  margin: 0 5px;
}

.nav-head span {
  height: 100%;
  color: rgb(190, 190, 190);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.logo {
  margin: 0px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > a {
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 15px;
}

a > strong {
  font-size: 20px;
}

.logo svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* 검색 */
.search-box {
  padding: 0 16px;
  display: flex;
  justify-content: center;
}

.search {
  width: 100%;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  cursor: pointer;
}

/* 네비게이션 바 */
.nav-menu {
  display: flex;
  justify-content: left;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0 20px;
  margin-top: 10px;
}

.nav-link {
  display: block;
  color: rgb(155, 155, 155);
  text-decoration: none;
  padding: 8px 0;
  font-size: 14px;
}

.nav-link.home {
  color: white;
  border-bottom: 2px solid white;
  font-weight: bold;
}

/* 모달 팝업 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal-content {
  background-color: rgb(245, 245, 245);
  width: 1450px;
  height: 700px;
  margin: 0 auto;
}

.modal-search {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.search-input {
  width: 90%;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  text-align: left;
  margin: 20px 0 20px 20px;
  padding: 8px 8px;
}

.close-btn {
  background: rgb(245, 245, 245);
  font-size: 20px;
  margin: 0 20px;
  border: none;
  cursor: pointer;
}

.modal-content h5 {
  margin: 20px;
}

/* 페이지 네이션 버튼 */
/* .page {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.page-btn {
  width: 70px;
  height: 30px;
  margin: 0 20px;
  background-color: #c4cad1;
  border: none;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.page span {
  font-size: 18px;
} */

/* 배너 */
.banner {
  background-color: #e2e2e2;
  position: bottom;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ban-info {
  margin: 0 auto;
}

.ban-text {
  text-align: center;
  padding: 2px;
}
.banner p {
  font-size: 12px;
  margin: 0;
}

/* 항목 이동 버튼 */
.clothes-top {
  position: fixed;
  bottom: 50px;
  right: 270px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media (max-width: 460px) {
  .body {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 10px solid white;
  }

  .menu .menuLink {
    display: none;
  }

  .logo > a {
    font-size: 10px;
  }

  .nav-btn button {
    margin: 5px;
  }

  .nav-btn button {
    font-size: 10px;
    height: 18px;
  }

  #navQuestionBtn {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: center;
  }

  .banner {
    background-color: #e2e2e2;
    position: bottom;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .ban-text {
    text-align: center;
    margin-left: 10px;
    padding: 2px;
  }
  .banner p {
    font-size: 8px;
    margin: 0;
  }
}
