body {
  min-width: 1000px;
  width: 1450px;
  margin: 0 auto;
  padding: 0;
}

.main-container {
  background-color: #fafafa;
}

/* 헤더 */
.nav-container {
  background-color: #201d1d;
}

.nav-head {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 15px 20px;
}

.menu-btn {
  margin: 0 10px 0 0;
}

.nav-head p {
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  background-color: #fff6;
  margin: 0 5px;
}

.nav-head span {
  height: 100%;
  color: rgb(190, 190, 190);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.logo {
  margin: 0px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > a {
  text-decoration: none;
  color: white;
  font-style: italic;
}

a > strong {
  font-size: 25px;
}

.nav-btn {
  margin-top: 10px;
  padding: 0 10px;
}

.nav-btn button {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  background-color: #201d1d;
  color: rgb(204, 204, 204);
  font-size: 13px;
  cursor: pointer;
  margin-left: 5px;
}

/* 검색 */
.search-box {
  padding: 0 16px;
  display: flex;
  justify-content: center;
}

#searchInput {
  width: 100%;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
}

/* 네비게이션 바 */
.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 40px;
  margin-bottom: 0;
}

.nav-link {
  display: block;
  color: rgb(155, 155, 155);
  text-decoration: none;
  padding: 8px 0;
  font-size: 14px;
}

.nav-link.home {
  color: white;
  border-bottom: 2px solid white;
  font-weight: bold;
}

/* 페이지 네이션 버튼 */
.page {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.page-btn {
  width: 70px;
  height: 30px;
  margin: 0 20px;
  background-color: #c4cad1;
  border: none;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.page span {
  font-size: 18px;
}

/* 배너 */
.banner {
  background-color: #e2e2e2;
  position: bottom;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ban-info {
  margin: 10px auto;
}

.ban-text {
  text-align: center;
  margin-left: 10px;
  padding: 2px;
}
.banner p {
  font-size: 12px;
}

/* 항목 이동 버튼 */
.clothes-top {
  position: fixed;
  bottom: 50px;
  right: 270px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
