body {
  margin: 0 250px;
  padding: 0;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: black;
}

/* 로고 */
.nav-container {
  background-color: #201d1d;
  height: 100%;
}

.logo > a {
  text-decoration: none;
  color: white;
  font-style: italic; /* 기울이기 */
  margin: 0 20px; /* 왜 안 띄워지는가?? */
}

a > strong {
  font-size: 25px;
}

.nav-btn {
  border: none;
  background-color: #201d1d;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  float: right;
  margin: 10px 10px;
}

/* 네비게이션 바 */
.nav-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.nav-link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
}

.nav-link:hover {
  background-color: #868686;
  box-sizing: border-box;
}

/* 페이지 네이션 버튼 */
.page {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.page-btn {
  width: 70px;
  height: 30px;
  margin: 0 20px;
  background-color: #c4cad1;
  border: none;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.page span {
  font-size: 18px;
}

/* 배너 */
.banner {
  background-color: #e2e2e2;
  position: bottom;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ban-info {
  margin: 10px auto;
}

.ban-text {
  text-align: center;
  margin-left: 10px;
  padding: 2px;
}
.banner p {
  font-size: 12px;
}

/* 항목 이동 버튼 */
.clothes-top {
  position: fixed;
  bottom: 50px;
  right: 270px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
