/* 로고 */
.nav-container {
  background-color: #201d1d;
  height: 100%;
}

.logo > a {
  text-decoration: none;
  color: white;
  font-style: italic; /* 기울이기 */
  margin: 0 20px; /* 왜 안 띄워지는가?? */
}

a > strong {
  font-size: 25px;
}

.nav-btn {
  border: none;
  background-color: #201d1d;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  float: right;
  margin: 10px 10px;
}

/* 네비게이션 바 */
.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.nav-link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
}

.nav-link:hover {
  background-color: #868686;
  box-sizing: border-box;
}

/* 베스트 옷들 */
#bestResult {
  display: flex;
  justify-content: space-between;
  gap: 0;
  cursor: pointer;
}

.best-img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.best-img img {
  width: 100%;
  z-index: 10;
}

.best-btn {
  padding: 19px 15px;
  border: none;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  z-index: 30;
}

/* 스크롤 버튼 */
.load {
  display: block;
  color: #a19d9d;
  text-align: center;
  margin: 30px auto;
}

.load strong {
  font-weight: bold;
  margin-top: 50px;
  font-size: 18px;
}

.load p {
  margin: 0 auto;
  font-size: 15px;
}

.scroll-btn {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.scr-btn {
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  background-color: #eee;
  padding: 10px 30px;
  font-size: 15px;
}

.scroll {
  color: rgb(58, 55, 55);
  text-decoration: none;
  font-weight: bold;
}
/* 리스트 */
/*
.list-images {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
*/

/* .image-info {
  display: flex;
  justify-content: space-between;
  gap: 50px;
} */
.image-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
}

.image-info img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  aspect-ratio: 1 / 1.2;
  object-fit: cover;
}


/* 배너 */
.banner {
  background-color: #e2e2e2;
  position: bottom;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ban-info {
  margin: 10px auto;
}

.ban-text {
  text-align: center;
  margin-left: 10px;
  padding: 2px;
}
.banner p {
  font-size: 12px;
}
