.hamburger {
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #201d1d; /* 배경색 */
  border: none;
  padding: 6px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  box-sizing: border-box;
}

/* 베스트 옷들 */
.bestResultContainer {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

#bestResult {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer; */
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  transform: translateX(0); /* 초기 위치 */
  cursor: pointer;
}

.best-img {
  /*
  flex: 1 1 0; /* 이미지 3개가 동일하게 너비 차지 
  aspect-ratio: 1 / 1; /정사각형 비율 고정 
  overflow: hidden;
  position: relative; */
  width: calc(100% / 3);
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
  position: relative;
}

.best-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.best-img p {
  width: 200px;
  height: 100px;
  margin-bottom: 0;
}

.image-text {
  position: absolute;
  bottom: 0;
  left: 15px;
  color: white;
  font-size: 22px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.best-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 2px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  font-size: 15px;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

.bestResultContainer:hover .best-btn {
  opacity: 1;
  pointer-events: auto;
}

/* 스크롤 버튼 */
.scroll-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 4px;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
}

.scr-btn {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
  background-color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.scr-btn img {
  width: 23px;
  height: 23px;
}

.scroll {
  color: black;
  text-decoration: none;
}

/* 리스트 */
#shirtResult,
#pantsResult,
#sportResult,
#coatResult,
#paddingResult {
  scroll-margin-top: 30vh;
  cursor: pointer;
}

.list-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.right {
  text-align: right;
}

.right a {
  color: #8b8585;
  font-size: 12px;
}

.image-info {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0;
  text-align: left;
  margin: 0 20px 20px;
  background-color: white;
  border-radius: 4px;
}

.image-info img {
  width: 100%;
  aspect-ratio: 1 / 1.2;
  object-fit: cover;
}

.image-info a {
  text-decoration: none;
}

.product-item-text {
  padding: 0 0 10px;
  margin: 0 10px 5px;
}

.product-item-text strong,
.product-item-text p {
  font-size: 12px;
  margin: 0 5px;
  color: black;
}

.product-item-text strong span {
  color: red;
}

@media (max-width: 460px) {
  .bestResultContainer {
    max-width: 100%;
    position: relative;
    overflow: hidden;
  }

  .best-img {
    width: calc(100% / 2);
  }

  .best-img p {
    height: 30px;
  }
  .image-text {
    position: absolute;
    font-size: 12px;
  }

  .best-btn {
    width: 30px;
    height: 30px;
    font-size: 12px;
    opacity: 1;
  }

  .scroll-btn {
    gap: 5px;
  }

  .scr-btn {
    font-size: 10px;
    padding: 3px;
    display: flex;
    margin-bottom: 10px;
  }

  .scr-btn img {
    width: 15px;
    height: 15px;
  }

  .list-container {
    margin-bottom: 30px;
  }

  .list-images {
    margin: 5px 10px;
  }
  .list-images > strong {
    font-size: 12px;
  }

  .right a {
    font-size: 10px;
  }

  .image-info {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }

  .product-item-text strong,
  .product-item-text p {
    font-size: 10px;
    margin: 0;
  }
}
