/* 베스트 옷들 */
.bestResultContainer {
  max-width: 100%;
  position: relative;
}

#bestResult {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.best-img {
  flex: 1 1 0; /* 이미지 3개가 동일하게 너비 차지 */
  aspect-ratio: 1 / 1; /* 정사각형 비율 고정 */
  overflow: hidden;
}

.best-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.best-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 2px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  font-size: 15px;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

.bestResultContainer:hover .best-btn {
  opacity: 1;
  pointer-events: auto;
}

/* 스크롤 버튼 */
.load {
  display: block;
  color: #a19d9d;
  text-align: center;
  margin: 30px auto;
}

.load strong {
  font-weight: bold;
  margin-top: 50px;
  font-size: 18px;
}

.load p {
  margin: 0 auto;
  font-size: 15px;
}

.scroll-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 4px;
  margin: 10px auto;
}

.scr-btn {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
  background-color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 10px;
}

.scroll {
  color: rgb(58, 55, 55);
  text-decoration: none;
  font-weight: bold;
}

/* 리스트 */
.list-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

.right {
  text-align: right;
}

.right a {
  color: #8b8585;
  font-size: 12px;
}

.image-info {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0;
  text-align: center;
  margin-bottom: 40px;
}

.image-info img {
  width: 100%;
  aspect-ratio: 1 / 1.2;
  object-fit: cover;
}

.product-item p {
  font-size: 15px;
  margin: 0;
  color: #615f5f;
}
