.login-form {
  width: 45%;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.login-top {
  background-color: #d3d3d3;
  border: 1px solid #f5f5f5;
}

.login-top-name {
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.input-info {
  display: block;
  justify-content: center;
}

#username {
  margin: 20px 20px 5px;
  width: 90%;
  height: 15px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  padding: 8px;
}

#username:focus {
  /* outline: 1px solid rgb(215, 215, 215); 이건 왜 안될까..? */
  border: 1px solid rgb(136, 136, 136);
  outline: none;
}

.input-info p {
  margin: 0 20px;
  font-size: 12px;
}

#password {
  margin: 3px 20px;
  width: 90%;
  height: 15px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  padding: 8px;
}

#password:focus {
  border: 1px solid rgb(136, 136, 136);
  outline: none;
}

.login-btn {
  display: block;
  border: none;
  border-radius: 4px;
  margin: 15px 20px;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 93%;
  cursor: pointer;
}

.check-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}

.check1 {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 12px;
  margin: auto 20px;
  gap: 6px;
}

.check1 input[type="checkbox"] {
  width: 14px;
  height: 14px;
  margin: 0; /* 기본 마진 없애기 */
  border-color: #666;
}

.check2 {
  text-align: right;
  margin: auto 25px;
  color: #666;
  font-size: 12px;
  cursor: pointer;
}

.kakao-btn {
  display: block;
  border: none;
  border-radius: 4px;
  margin: 15px 20px;
  padding: 10px;
  background-color: #fee500;
  color: black;
  width: 93%;
  font-weight: 500;
  cursor: pointer;
}

.apple-btn {
  display: block;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin: 15px 20px;
  padding: 10px;
  background-color: white;
  color: black;
  width: 93%;
  font-weight: 500;
  cursor: pointer;
}

.kakao-btn i {
  font-size: 14px;
}

.apple-btn i {
  font-size: 18px;
  align-items: center;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  font-weight: 500;
}

.register-btn {
  border: 1px solid #e0e0e0;
  background-color: white;
  color: black;
  font-size: 13px;
  border-radius: 4px;
  font-weight: 500;
}

.error {
  margin: 2px;
  font-size: 11px;
  color: red;
}
