.login-container {
  background-color: #fafafa;
}

.login-form {
  width: 45%;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.login-top {
  background-color: #d3d3d3;
  border: 1px solid #f5f5f5;
  text-align: center;
  padding: 10px;
}

.login-top-name {
  font-size: 15px;
}

.input-info {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.user-id,
.user-pw {
  width: 100%;
}

#userId {
  width: 100%;
  padding: 8px;
  height: 36px;
  margin: 30px 0 5px 0;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  box-sizing: border-box;
}

#userId:focus {
  outline: 1px solid rgb(136, 136, 136);
  border: none;
}

#userPw {
  width: 100%;
  padding: 8px;
  height: 36px;
  margin: 10px 0 5px 0;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  box-sizing: border-box;
}

#userPw:focus {
  border: 1px solid rgb(136, 136, 136);
  outline: none;
}

.input-info p {
  margin: 0;
  font-size: 12px;
}

.login-btn {
  display: block;
  border: none;
  border-radius: 4px;
  margin: 15px 20px;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 91%;
  cursor: pointer;
}

.check-list {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0; */
  display: flex;
  justify-content: space-between;
}

.check1 {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 12px;
  margin: auto 20px;
  gap: 6px;
}

.check1 input[type="checkbox"] {
  width: 14px;
  height: 14px;
  margin: 0; /* 기본 마진 없애기 */
  border-color: #666;
}

.check2 {
  text-align: right;
  margin: auto 25px;
  color: #666;
  font-size: 12px;
  cursor: pointer;
}

.kakao-btn {
  display: block;
  border: none;
  border-radius: 4px;
  margin: 15px 20px;
  padding: 10px;
  background-color: #fee500;
  color: black;
  width: 93%;
  font-weight: 500;
  cursor: pointer;
}

.apple-btn {
  display: block;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin: 15px 20px;
  padding: 10px;
  background-color: white;
  color: black;
  width: 93%;
  font-weight: 500;
  cursor: pointer;
}

.kakao-btn i {
  font-size: 14px;
}

.apple-btn i {
  font-size: 18px;
  align-items: center;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  font-weight: 500;
}

.register-btn {
  border: 1px solid #e0e0e0;
  background-color: white;
  color: black;
  font-size: 13px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.error {
  margin: 2px;
  font-size: 11px;
  color: red;
}

@media (max-width: 460px) {
  .login-form {
    width: 100%;
  }
}
