.login-form {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.login-top {
  background-color: #d3d3d3;
  border: 1px solid #f5f5f5;
}

.login-top-name {
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.input-info {
  display: flex;
  justify-content: center;
}
#inputId {
  margin: 20px auto;
  width: 90%;
  height: 15px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  padding: 8px;
}

#inputId:focus {
  /* outline: 1px solid rgb(215, 215, 215); */
  border: 1px solid rgb(136, 136, 136);
  outline: none;
}

#inputPw {
  margin: 0 auto;
  width: 90%;
  height: 15px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  padding: 8px;
}

#inputPw:focus {
  border: 1px solid rgb(136, 136, 136);
  outline: none;
}

.login-btn {
  display: block;
  border: none;
  border-radius: 4px;
  margin: 15px auto;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 92%;
}

.check-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}

.check1 {
  text-align: left;
  margin: auto 25px;
  color: #666;
  font-size: 14px;
}

.check-checkbox {
  display: block;
  width: 16px;
  height: 16px;
  border-color: #666;
  margin: auto;
}

.check2 {
  text-align: right;
  margin: auto 25px;
  color: #666;
  font-size: 14px;
}
