.coat-container {
  background-color: #f2f2f2;
}

.coat-btn {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
  background-color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 10px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coat-btn.active {
  color: white;
  background-color: #201d1d;
}

.coat-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.coat-btn:active {
  transform: translateY(0);
}

/* 리스트 */
.coat-list {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 50px;
}

.coat-content {
  display: none;
  text-align: left;
  padding: 0 20px;
}

.coat-content.active {
  display: block;
}

.coat {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  cursor: pointer;
}

.coat-img img {
  width: 100%;
  aspect-ratio: 1 / 1.2;
  object-fit: cover;
}

.coat-img strong {
  font-size: 15px;
  margin-left: 20px;
}

.coat-img p {
  margin: 0 auto;
  font-size: 13px;
  margin-left: 20px;
}

.coat-img p span {
  color: red;
  font-weight: 500;
}
