.sport-container {
  background-color: #f2f2f2;
}

/* 리스트 */
.sport-list {
  max-width: 100%;
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
  margin-left: 20px;
  gap: 5px;
}

.sport-btn {
  border: 1px solid rgb(102 102 102);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(102 102 102);
}

.sport-btn.active {
  color: black;
  background-color: #fafafa;
  border: 1px solid black;
}

.sport-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sport-btn:active {
  transform: translateY(0);
}

.sport-content {
  display: none;
  text-align: left;
}

.sport-content.active {
  display: block;
}

.sport {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  cursor: pointer;
}

.sport-img {
  background-color: white;
  padding: 0 0 10px 0;
  position: relative;
}

.sport-img span {
  position: absolute;
  background-color: white;
  width: 15px;
  height: 15px;
  font-size: 12px;
  margin: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sport-img img {
  width: 100%;
  aspect-ratio: 1 / 1.2;
  object-fit: cover;
}

.sport-img strong {
  font-size: 12px;
  margin-left: 10px;
}

.sport-img p {
  margin: 0 auto;
  font-size: 12px;
  margin-left: 10px;
}

.sport-img p em {
  color: red;
  font-weight: 500;
}
