.coat-container {
  background-color: #f2f2f2;
}

/* 리스트 */
.coat-list {
  max-width: 100%;
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
  margin-left: 20px;
  gap: 5px;
}

.coat-btn {
  border: 1px solid rgb(102 102 102);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(102 102 102);
}

.coat-btn.active {
  color: black;
  background-color: #fafafa;
  border: 1px solid black;
}

.coat-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.coat-btn:active {
  transform: translateY(0);
}

.coat-content {
  display: none;
  text-align: left;
  padding: 0 20px;
}

.coat-content.active {
  display: block;
}

.coat {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  cursor: pointer;
}

.coat-img {
  background-color: white;
  padding: 0 0 10px 0;
  position: relative;
}

.coat-img span {
  position: absolute;
  background-color: white;
  width: 15px;
  height: 15px;
  font-size: 12px;
  margin: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coat-img img {
  width: 100%;
  aspect-ratio: 1 / 1.2;
  object-fit: cover;
}

.coat-img strong {
  font-size: 12px;
  margin-left: 10px;
}

.coat-img p {
  margin: 0 auto;
  font-size: 12px;
  margin-left: 10px;
}

.coat-img p em {
  color: red;
  font-weight: 500;
}

@media (max-width: 768px) {
  .coat-list {
    margin: 0;
    gap: 18px;
    margin-left: 20px;
  }

  .coat-btn {
    margin: 15px 0;
    padding: 5px 8px;
  }

  .coat {
    grid-template-columns: repeat(4, 1fr);
  }

  .coat-img strong {
    font-size: 12px;
  }

  .coat-img p {
    font-size: 10px;
  }
}

@media (max-width: 460px) {
  .coat-list {
    justify-content: center;
    margin: 0;
  }

  .coat-btn {
    margin: 10px 5px 10px;
    padding: 0 5px;
  }

  .coat {
    grid-template-columns: repeat(3, 1fr);
  }

  .coat-img strong {
    font-size: 10px;
  }

  .coat-img p {
    font-size: 8px;
  }
}
