.list-menu {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.shirt-btn {
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  background-color: #eee;
  padding: 10px 30px;
  font-size: 15px;
  margin-bottom: 50px;
}

.scroll {
  color: rgb(58, 55, 55);
  text-decoration: none;
  font-weight: bold;
}
