.list-menu {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.shirt-btn {
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  background-color: #eee;
  padding: 10px 30px;
  font-size: 15px;
  margin-top: 50px;
}

.shirt-btn.active {
  background: #c4cad1;
  color: black;
  border-bottom-color: #c4cad1;
}

.shirt-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.shirt-btn:active {
  transform: translateY(0);
}

/* 리스트 */
.shirt-list {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  gap: 30px;
}

.shirt-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: center;
}
.shirt-img img {
  width: 100%;
  aspect-ratio: 1 / 1.2;
  object-fit: cover;
}
