.signup-container {
  background-color: #fafafa;
}

.signup-form {
  width: 45%;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.signup-top {
  background-color: #d3d3d3;
  border: 1px solid #f5f5f5;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

.signup-top-name {
  font-size: 15px;
}

.signup-info {
  display: block;
  padding: 0 100px;
  margin-top: 30px;
}

.signup-info p {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #5c5c5c;
}

#inputId,
#inputPw,
#inputPwCheck,
#inputEmail,
#inputPhone {
  width: 100%;
  height: 15px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  padding: 8px;
}

.idCheck {
  border: none;
  background-color: #5c5c5c;
  margin: 15px auto 0;
  font-size: 14px;
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
}

.signup-btn {
  display: block;
  border: none;
  border-radius: 4px;
  margin: 50px 100px;
  padding: 10px;
  background-color: #5c5c5c;
  color: white;
  font-weight: bold;
  width: 72%;
  cursor: pointer;
}

.input-result.check {
  color: #27ae60;
  font-weight: 600;
}

.input-result.error {
  color: #e74c3c;
  font-weight: 600;
}
